@page "/main"

<ContentPage AutomationId="Test">
    <StackLayout Spacing="25"
                 Padding="new(30,0)"
                 VerticalOptions="LayoutOptions.Center">
        <Label FontSize="32"
               HorizontalOptions="LayoutOptions.Center">
            Hello world! @i
        </Label>

        <Grid ColumnDefinitions="Auto,Auto">
            <GridCell Column="0">
                <Label Text="Porn" />
            </GridCell>
            <GridCell Column="1">
                <Label Text="Hub" />
            </GridCell>
        </Grid>


        <Grid RowDefinitions="Auto,Auto" HorizontalOptions="LayoutOptions.Fill">
            <Label Grid.Row="0" Text="Porn" />
            <Label Grid.Row="1" Text="Hub" />
        </Grid>

        <Button Text="+1" OnClick="Increment" />
        <Button Text="Display" OnClick="() => display = !display" />

        @if (display)
        {
            <Label Text="wtf" />
        }

    </StackLayout>
</ContentPage>

@code {
    int i = 0;
    bool display = false;

    void Increment()
    {
        i++;
    }
}